/*<div class="top--navigation">*/
    /*<ul class="sub--menu-list">*/
        /*<?php*/
            /*foreach($this->subMenu as $subMenu=>$menuInfoList){*/
                /*$itemName = $menuInfoList["label"];*/
                /*$itemHref = $menuInfoList["href"];*/
                /*echo "<li class='sub--menu-item'><a href=$itemHref ><span class='item--label'>$itemName</span></a></li>";*/
            /*}*/
        /*?>*/
    /*</ul>*/
/*</div>*/

.top--navigation {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 40px;
    border: 1px solid black;
}